.navbar {
	list-style: none;
	display: flex;
	justify-content: space-between;
	background-color: black;
	padding: 10px 0;
	padding-left: 50px;
	padding-right: 85%;
	margin: 0;
}
.navbar li a {
	color: white;
	text-decoration: none;
}
.active {
	background-color: rgb(160, 160, 46);
	color: white;
	padding: 10px 10px;
}
.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 100px;
}
.column {
	padding-top: 10px;
	flex: 1 0 33.33%;
}

.card {
	background-color: lightgray;
	margin: 0 15px;
}
.card :last-child {
	margin-right: 0;
}
.card img {
	width: 100%;
	height: auto;
}
.card h3 {
	text-align: center;
}
.card p {
	text-align: center;
}

.card button {
	width: 100%;
	height: auto;
	padding: 5px;
	background-color: black;
	color: white;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}
.footer {
	background-color: rgb(160, 160, 46);
	color: white;
	text-align: center;
	padding: 10px;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 70px auto;
	padding: 5px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.popup img {
	width: 100%;
}
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #06d85f;
}
.popup .content {
	max-height: 30%;
	overflow: auto;
}
