nav {
	display: flex;
	justify-content: space-between;
	list-style: none;
	background-color: black;
}
ul {
	list-style: none;
	display: flex;
}
ul li {
	padding-right: 40px;
}
.active1 {
	text-decoration: none;
	color: white;
}
.switch {
	padding-top: 10px;
	padding-right: 30px;
}
.active {
	background-color: rgb(160, 160, 46);
	padding: 10px 10px;
	text-decoration: none;
	color: white;
}
.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 200px;
	background-color: lightgray;
	margin-top: 20px;
}
.column {
	padding-top: 10px;
	flex: 1 0 33.33%;
}

.card {
	background-color: lightgray;
	margin: 0 15px;
}

.card img {
	width: 100%;
	height: auto;
}
.card h3 {
	text-align: center;
}
.card p {
	text-align: center;
}

.card button {
	width: 100%;
	height: auto;
	padding: 5px;
	background-color: black;
	color: white;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}
.footer {
	background-color: rgb(160, 160, 46);
	color: white;
	text-align: center;
	padding: 10px;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 70px auto;
	padding: 5px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.popup img {
	width: 100%;
}
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #06d85f;
}
.popup .content {
	max-height: 30%;
	overflow: auto;
}
.badge {
	background-color: red;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 8px;
	border-radius: 4px;
	margin-bottom: 10px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.product-tumb {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.product-tumb img {
	max-width: 50%;
	height: auto;
}

.product-price {
	font-size: 1.6em;
	color: orange;
	padding-top: 30px;
}
.product-details {
	margin: 0px -12px;
	background-color: white;
	padding: 60px;
}

.product-details p {
	color: gray;
	text-align: left;
	font-size: 20px;
}

.product-details h4 {
	margin: 0;
	color: #333;
	font-size: 35px;
}
.dao {
	display: flex;
	justify-content: space-between;
}
